<h1> Topic Categories</h1>

<% @categories.each do |category| %>
  <h2><%= link_to category.name, category_posts_path(category) %></h2>
<% end %>

<br />

<h1>Listing posts</h1>

<%= paginate @posts%>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p>
  <b>Spot:</b>
  <%= post.spot %>
  </p>
  <p> <%= post.published_at.strftime('%D')%></p>
<% end %>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, "#", :class => css_class %>
<% end %>

<br />