<h1> Topic Categories</h1>

<%= form_tag search_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query] %> <%= submit_tag "Ara!" %>
</p>
<% end %>

<br />
<% unless @posts.empty? %>

  <%= paginate @posts%>
<% end %>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p>
  <b>Spot:</b>
  <%= post.spot %>
  </p>
  <p> <%= post.published_at.strftime('%D')%></p>
<% end %>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, "#", :class => css_class %>
<% end %>

<br />