<div class = "panel">
<h3><%= t "general.login"%></h3> 
  
<%= form_tag sessions_path do %>  

  <div class="panel-content">
    <%= label_tag ar_t "user.email" %>
    <%= text_field_tag :email, params[:email] %>  
  </div>
  
  <div class="panel-content">
    <%= label_tag ar_t "user.password" %>  
    <%= password_field_tag :password %>  
  </div>
  <div class="panel-content sbmt">
  <%= submit_tag "Log in" %>
  </div>
</div>
<% end %> 