<div class = "panel">
<%= t "general.login"%> 
  
<%= form_tag sessions_path do %>  

  <div class="panel-content">
    <%= label_tag ar_t "user.email" %><br />  
    <%= text_field_tag :email, params[:email] %>  
  </div>
  
  <div class="panel-content">
    <%= label_tag ar_t "user.password" %><br />  
    <%= password_field_tag :password %>  
  </div>
  <div class="panel-content">
  <%= submit_tag "Log in" %>
  </div>
</div>
<% end %> 