<h1><%= t "tag_posts"%></h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%d-%m-%y') %></p>
  <p>
  <b><%= t "spot"%></b>
  <%= post.spot %>
  </p>
 
<% end %>

<br />