<h1><%= t "allposts"%></h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, [:admin, post] %></h2>
  <p><%= post.created_at.strftime('%D') %> <%= t "created_at"%></p>
  <p><%= post.rendered_body.html_safe %></p>
<% end %>

<br />