<script type="text/javascript" >
   $(document).ready(function() {
      $("#markItUp").markItUp(mySettings);
   });
</script>
<h1>Editing post</h1>
<%= form_for(@post, :url => author_mypost_path(@post)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id, options_from_collection_for_select(@available_categories, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :id => "markItUp" %>
  </div>
  <div class="field">
    <%= f.label :spot %><br />
    <%= f.text_area :spot %>
  </div>
  <div class="tag">
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', author_mypost_path(@post) %> |
<%= link_to 'Back', author_myposts_path %>