<script type="text/javascript" >
   $(document).ready(function() {
      $("#markItUp").markItUp(markDownSettings);
      $("#markItUp_spot").markItUp(htmlSettings);
   });
</script>
<div class="panel">
<%= form_for(@post, :url => author_mypost_path(@post)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="panel-title">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="panel-title">
    <%= f.label :category %><br />
    <%= f.select :category_id, options_from_collection_for_select(@available_categories, 'id', 'name') %>
  </div>
  <div class="panel-title">
    <%= f.label :body %><br />
    <div class="markDownEdit"><%= f.text_area :body, :id => "markItUp" %></div>
  </div>
  <div class="panel-title">
    <%= f.label :spot %><br />
    <%= f.text_area :spot, :id => "markItUp_spot" %>
  </div>
  <div class="panel-title">
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="panel-title">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  <div class="panel-content">
    <%= link_to 'Show', author_mypost_path(@post) %> |
    <%= link_to 'Back', author_myposts_path %>
  </div>
</div>