<div class="articles">
<% @posts.each do |post| %>
	<div class="article">
	  <div class="article-cdt">
	    <div class="cat"><%= link_to post.category.try(:name), category_posts_path(post.category) %></div>
			<div class="date"><%= post.published_at.try(:strftime, '%d-%m-%y') %></div>
      <div class="tag"> <% post.tags.each do |tag|%><%= link_to tag.name, tag_posts_path(:tag => tag.name) %>
        <% end %>
      </div>
	    <div class="author"><%= link_to post.user.name, author_posts_path(post.user_id) %></div>
    </div>
	  <div class="article-title">
	    <h2><%= link_to post.title, author_mypost_path(post)%></h2>
	  </div>
		<div class="article-content">
		  <p>
		  <%= post.spot.html_safe %>
		  </p>
		</div>
		<div class="article-adv"> <span><%= link_to (t "more"), author_mypost_path(post), :class => "article-more" %></span> </div>
	</div>
<% end %>
</div>

<div class="article">
	<div class="article-cdt">
    <div class="tag"><%= paginate @posts%></div>
  </div>
</div>