<h1>Listing posts</h1>

<%= paginate @posts%>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_mypost_path(post)%></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p>
  <b>Spot:</b>
  <%= post.spot %>
</p>
  <p> <%= post.published_at.strftime('%D') if post.published_at %></p>

<% end %>

<br />