<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= link_to @post.user.name %>
</p>

<p>
  <%= @post.rendered_body.html_safe %>
</p>

<h2>Comments</h2>
<%= render :partial => "author/comments/comment",
           :collection => @post.comments %>

<h2>Add a comment:</h2>
<%= render "author/comments/form" %>
 
<br />

<%= link_to 'Edit', edit_author_mypost_path(@post) %> |
<%= link_to 'Back to Posts', author_myposts_path %> 
<%= button_to 'Delete this post', author_mypost_path(@post),
          :method => :delete %>
