<p id="notice"><%= notice %></p>

<p>
  <b><%= t "title"%>:</b>
  <%= @post.title %>
</p>

<p>
  <b><%= t "author"%>:</b>
  <%= @post.user.name %>
</p>
<p>
  <%= @post.rendered_body.html_safe %>
</p>
<% unless @post.tag_list.empty? %>
	<p class="tags">
  	<b><%= t "tags"%>:</b>
  	<%= @post.tag_list %>
	</p>
<% end %>

<%= render :partial => "author/comments/comment",
           :collection => @post.comments %>

<h5><%= t "general.add", :class => (t "comment").downcase%></h5>
<%= render "author/comments/form" %>
 
<br />
<%= link_to (t "general.edit"), edit_author_mypost_path(@post) %> |
<%= link_to (t "general.back"), author_myposts_path %> |
<%= link_to (t "general.destroy"), author_mypost_path(@post),
          :method => :delete %>