<div class="panel"><%= t "categories"%>
  <div class="panel-content">
    <table>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td></td>
        <td></td>
        <td><%= link_to (t "general.show"), [:admin, category] %> | </td>
        <td><%= link_to (t "general.edit"), edit_admin_category_path(category) %> </td>
        <%   if category.posts.count == 0 %>
          <td> | <%= link_to (t "general.destroy"), [:admin, category], confirm: 'Are you sure?', method: :delete %></td>
        <% end %>  
      </tr>
      <% end %>
    </table>
    <br />
    <%= link_to (t "general.new category"), new_admin_category_path %>
  </div>
</div>