<div class="panel">
<h3>Kullanıcı Bilgileri</h3>
<div class="table">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Photo</th>
            <th><%= ar_t "user.email"%></th>
            <th>Notice</th>
            <th><%= ar_t "user.first_name"%></th>
            <th><%= ar_t "user.last_name"%></th>
            <th><%= ar_t "user.admin"%></th>
            <th><%= ar_t "user.author"%></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @user.photo.url %></td>
            <td><%= @user.email %></td>
            <td><%= notice %></td>
            <td><%= @user.first_name %></td>
            <td><%= @user.last_name %></td>
            <td><%= @user.admin %></td>
            <td><%= @user.author %></td>            
          </tr>
        </tbody>
      </table>
</div>

  <div class="btn-group">
<%= link_to 'Edit', edit_user_membership_info_path, :class=>"btn" %>
<%= link_to 'Back to posts', author_myposts_path, :class=>"btn" %> 
</div>
</div>