<p id="notice"><%= notice %></p>

<p>
  
  <h4><%= @post.title %></h4>
</p>

<p>
  <b><%= t "author"%></b>
  <%= link_to @post.user.name, author_posts_path %>
</p>
<p>
<p>
  <%= @post.rendered_body.html_safe %>
</p>
<%= render :partial => "comment",
           :collection => @post.comments %>

<h5><%= t "general.add", :class => (t "comment").downcase%></h5>
<%= render "form" %>
<br />


