<div class="articles">
  <div class="article">

	  <div class="article-title">
        <span class="article_cat"><%= link_to @post.category.try(:name), category_posts_path(@post.category) %></span>
	    <h2><%= @post.title %></h2>
	  </div>
		<div class="article-content">
		  <p>
      <%= markdown(@post.rendered_body) %>
		  </p>
    </div>
        <div class="article-cdt">
			<div class="date"><%= @post.published_at.try(:strftime, '%d-%m-%y') %></div>
			<div class="tag">
        <ul>
        <% @post.tags.each do |tag|%>
            <li>
            <%= link_to tag.name, tag_posts_path(:tag => tag.name) %>
            </li>
        <% end %></ul></div>
      <div class="author"><%= link_to @post.user.name, author_posts_path(@post.user_id) %></div>
    </div>
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_developer = 1; // developer mode is on
    var disqus_shortname = 'yenihayatblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>





